:root {
  /* ------------PRIMARY COLORS------------ */
  --violet: hsl(263, 55%, 52%);
  --border: hsla(263, 55%, 72%, 0.5);
  --grayblue: hsl(217, 19%, 35%);
  --blackblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* ------------PRIMARY COLORS------------ */
  --graylight: hsl(0, 0%, 81%);
  --graybluelight: hsl(210, 46%, 95%);

  /* ------------FONTS------------ */
  --font: 'Barlow Semi Condensed', sans-serif; /* 500, 600 */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 4.5rem 1.5rem;
  max-width: 1440px;
  height: 100vh;
  font-size: 13px;
  font-family: var(--font);
  background-color: var(--graybluelight);
}

.main {
  display: grid;
  gap: 1.56rem;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* ------------CARDS------------ */
.card {
  padding: 1.62rem 2rem 2.25rem 2rem;
  border-radius: 0.5rem;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.1rem;
}

.card__img {
  width: 1.81rem;
  height: 1.81rem;
  border-radius: 50%;
}

.card__client {
  margin-left: 1rem;
}

.card__name {
  font-size: 1em;
  font-weight: 500;
}

.card__subtitle {
  font-size: 0.86em;
  opacity: 0.5;
}

.card__body-text {
  margin-bottom: 1.05rem;
  font-size: 1.55em;
  font-weight: 600;
}

.card__body-subtext {
  font-size: 1.005em;
  line-height: 1.32;
  opacity: 0.7;
}

.card--violet {
  background: var(--violet) url('../assets/images/bg-pattern-quotation.svg') top
    right 1.5rem no-repeat;
  color: var(--white);
}

.card--violet .card__body-subtext {
  margin-bottom: -0.4rem;
  font-size: 1.058em;
  opacity: 0.5;
}

.card--grayblue {
  background-color: var(--grayblue);
  color: var(--white);
}

.card--white {
  background-color: var(--white);
  color: var(--grayblue);
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.card--blackblue {
  background-color: var(--blackblue);
  color: var(--white);
}

.img-border {
  border: 2px solid var(--border);
}

@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  .card--violet {
    grid-area: 1 / 1 / 2 / 3;
    background-position: 38rem 0;
  }

  .card--grayblue {
    grid-area: 4 / 1 / 5 / 2;
  }

  .card--blackblue {
    grid-area: 2 / 1 / 3 / 3;
  }

  .card--jeanette {
    grid-area: 3 / 1 / 4 / 2;
  }

  .card--kira {
    grid-area: 3 / 2 / 5 / 3;
  }
}

@media screen and (min-width: 1120px) {
  .main {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    gap: 1.8rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5.7rem;
    max-width: 64rem;
    max-height: 39.7rem;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  .card--violet,
  .card--grayblue {
    padding-bottom: 3.65rem;
  }

  .card--jeanette,
  .card--blackblue,
  .card--kira {
    padding-bottom: -1rem;
  }

  .card__body-text {
    font-size: 1.56em;
    font-weight: 600;
  }

  .card--violet .card__body-subtext {
    font-size: 1em;
  }

  .card--jeanette .card__body-subtext,
  .card--blackblue .card__body-subtext,
  .card--kira .card__body-subtext {
    padding-top: 0.5rem;
    line-height: 1.39;
  }

  .card--violet {
    grid-area: 1 / 1 / 2 / 3;
    background-position: 22.35rem 0;
  }

  .card--grayblue {
    grid-area: 1 / 3 / 2 / 4;
  }

  .card--blackblue {
    grid-area: 2 / 2 / 3 / 4;
  }

  .card--jeanette {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card--kira {
    grid-area: 1 / 4 / 3 / 5;
  }
}

/* ------------FOOTER------------ */
.attribution {
  padding: 1.5rem 0;
  font-size: 0.85em;
  font-weight: 600;
  text-align: center;
  color: var(--grayblue);
}
.attribution a {
  color: var(--violet);
}

@media screen and (min-width: 768px) {
  .attribution {
    padding-top: 3rem;
    font-size: 0.9em;
  }
}
